.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 91px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    margin-top: 10px;
  }
  
  .image-container img {
    width: 100%;
    border-radius: 4px;
  }
  