/* detail.styles.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card {
  display: flex; /* Utiliza flexbox para la disposición interna */
  border: 1px solid #00000000;
  border-radius: 8px;
  padding: 78px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(235, 228, 205);
  width: 760px; /* Ancho total de la tarjeta */
}

.card img {
  max-width: 50%; /* La imagen ocupará la mitad del ancho de la tarjeta */
  height: auto;
  border-radius: 4px;
  margin-right: 16px; /* Espaciado entre la imagen y la información a la derecha */
  object-fit: cover; /* Evita que la imagen se deforme y cubre completamente el contenedor */
}

.card-info {
  flex: 1; /* La información ocupará el espacio restante a la derecha */
}

.card h2 {
  margin-bottom: 8px;
}


.hp-bar, .attack-bar {
  position: relative;
  margin-bottom:  2px; /* Ajusta este valor según el espacio deseado */
  width:  100%;
  background-color: #ddd;
  height:  20px;
  border-radius:  10px;
}


@keyframes fillHPBar {
  from {
    width:  0%;
  }
  to {
    width:  100%;
  }
}
.hp-value {
  height:   100%;
  background-color: #4CAF50;
  /* Elimina la animación por defecto aquí */
}

.hp-value.animate {
  animation: fillHPBar   1.5s forwards;
}


.attack-bar {
 /* Ajusta este valor según el espacio deseado */
  width:  100%;
  background-color: #ddd;
  height:  20px;
  border-radius:  10px;
}


.attack-value {
  height:   100%; /* Asegura que la barra de progreso ocupe toda la altura de la barra */
  background-color: #4CAF50; /* Color de la barra de progreso */
  transition: width  1.5s ease; /* Anima el cambio de ancho */
}

.attack-value.animate {
  animation: fillHPBar   1.5s forwards;
}

.hp-number {
  position: absolute;
  right:  0; /* Ajusta esto según sea necesario */
  top:  50%;
  transform: translateY(-50%); /* Centra verticalmente el número */
  color: #000000; /* Asegúrate de que el número sea visible sobre el fondo de la barra */
  padding:  0  5px; /* Espacio alrededor del número para que no toque el borde de la barra */
}

.attack-number {
  position: absolute;
  right:  0; /* Ajusta esto según sea necesario */
  top:  50%;
  transform: translateY(-50%); /* Centra verticalmente el número */
  color: #000000; /* Asegúrate de que el número sea visible sobre el fondo de la barra */
  padding:  0  5px; /* Espacio alrededor del número para que no toque el borde de la barra */
}