/* detail.styles.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    border: 1px solid #00000000;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(235, 228, 205);
    width: 425px; /* Ajusta este valor según tus preferencias */
  }
  
  .card h2 {
    margin-bottom: 8px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  