.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 228, 205);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px; /* Reduzco el espacio interno para hacerlo más compacto */
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container img {
  width: 100%;
  max-width: 300px; /* Ajusté el tamaño máximo de la imagen */
  height: auto; /* Esto mantiene la proporción de la imagen */
  border-radius: 10px; /* Reduje el radio de borde para que sea menos redondeado */
}

.card-container h2 {
  margin: 10px 0;
}

.card-container p {
  color: #555;
}

.card-container:hover {
  transform: scale(1.05);
}
