.order-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Ajusta el valor según la separación deseada */
}

.limpiarFiltros {
  padding: 8px; /* Ajusta el padding según tu preferencia */
  font-size: 12px; /* Ajusta el tamaño de fuente según tu preferencia */
}

/* Ajustar el ancho de la imagen del botón Limpiar filtros */
.limpiarFiltros .limpiarFiltros-icon {
  width: 20px;
  height: 20px;
}

/* Estilo coherente para los botones */
.order-buttons button,
.limpiarFiltros {
  padding: 17px;
  font-size: 19px;
  cursor: pointer;
  border: none;
  border-radius: 98px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 3px;
}

/* Añadir etiquetas a los elementos de formulario */
label {
  margin-right: 5px;
}

/* Mejorar la accesibilidad */
select {
  width: 128px; /* Ajusta el ancho según tus necesidades */
  height: 32px;
}

/* Mejorar el diseño responsivo */
@media (max-width: 600px) {
  .order-buttons {
    flex-direction: column;
    margin-bottom: 0; /* Elimina el margen inferior en diseño responsivo */
  }

  /* Mover el botón "Limpiar filtros" hacia arriba */
  .limpiarFiltros {
    order: 56;
  }
}
