/* navbar.styles.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242020;
  color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegúrate de tener un z-index alto para estar por encima de otros elementos */
}

.search-box {
  /* -webkit-appearance: none; */
  border: none;
  outline: none;
  padding: 10px;
  line-height: 30px;
  flex-grow: 1; /* Hace que la barra de búsqueda ocupe el espacio disponible */
}

.nav-links {
  display: flex;
  align-items: center; /* Alinea los enlaces verticalmente en el centro */
}

.nav-link {
  margin-right: 100px;
}

.nav-link button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

